  /*--------------------------------------------------------------
  # Counts
  --------------------------------------------------------------*/
  .counts {
      background: url("../img/counts-bg.jpg") center center no-repeat;
      background-size: cover;
      padding: 80px 0 60px 0;
      position: relative;
    }
  
  .counts::before {
    content: "";
    position: absolute;
    background: rgba(17, 17, 17, 0.9);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
  
  .counts .title {
    position: relative;
    color: var(--contrast-color);
    margin-bottom: 40px;
  }
  
  .counts .title h3 {
    font-size: 36px;
    font-weight: 700;
  }
  
  .counts .counters span {
    font-size: 48px;
    display: block;
    font-weight: 700;
    color: var(--accent-color);
  }
  
  .counts .counters p {
    padding: 0;
    margin: 0 0 20px 0;
    font-family: "Raleway", sans-serif;
    font-size: 14px;
    color: var(--contrast-color);
  }
  
  @media (min-width: 1200px) {
    .counts {
      background-attachment: fixed;
    }
  }