{% load static %}

    <!-- ======= Cta Section ======= -->
    <section id="cta" class="cta">
        <div class="container">
  
          <div class="row">
            <div class="col-lg-9 text-center text-lg-start">
              <h3>Call To Action</h3>
              <p>Transforming spaces into lasting legacies, we design with purpose and precision, shaping structures that inspire. At the intersection of innovation and sustainability, we bring visions to life—crafting architectural solutions that not only meet today’s needs but stand the test of time. Join us in building the future, where form meets function, and every detail tells a story.</p>
            </div>
            <div class="col-lg-3 cta-btn-container text-center">
              <a class="cta-btn align-middle" href="#">Call To Action</a>
            </div>
          </div>
  
        </div>
    </section><!-- End Cta Section -->