{% load static %}

<!-- Experience Section -->
<section id="experience" class="experience section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <span class="description-title">Experience</span>
        <h2>Experience</h2>
        <p>From ideation to honing the final product, I effortlessly collaborate to transform concepts into reality.</p>
    </div><!-- End Section Title -->

    <div class="container" data-aos="fade-up" data-aos-delay="100">
        <div class="row gy-4">
            {% for experience in experiences %}
            <div class="col-lg-6 d-flex">
                <img src="{{ experience.image.url }}" class="img-fluid" alt="{{ experience.company_name }}">
                <div class="ps-3">
                    <h4>{{ experience.company_name }}: <span>({{ experience.start_year }} - {{ experience.end_year|default:"Present" }})</span></h4>
                    <p>{{ experience.description }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section><!-- /Experience Section -->

