{% load static %}

<!-- Services Section -->
<section id="services" class="services section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <span class="description-title">My Services</span>
        <h2>My Services</h2>
        <p>Necessitatibus eius consequatur ex aliquid fuga eum quidem sint consectetur velit</p>
    </div><!-- End Section Title -->

    <div class="container">

        <div class="row gy-4">
            {% for service in services %}
            <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="{{ forloop.counter0|add:1 }}00">
              <div class="service-item position-relative">
                <div>
                  <img src="{{ service.icon_image.url }}" width="60px" alt="{{ service.title }}" >
                  
                </div>
                <br>
                <h4>{{ service.title }}</h4>
                <p>{{ service.description }}</p>
              </div>
            </div><!-- End Service Item -->
            {% endfor %}
        </div>

    </div>

</section><!-- /Services Section -->
